.card__trash-icon {
  position: absolute;
  width: 18px;
  height: 19.3px;
  right: 15px;
  top: 18px;
  opacity: 1;
  transition: opacity 0.75s ease;
}

@media (hover: hover) {
  .card__trash-icon:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
