.popup__container {
  background-color: #fff;
  margin: 0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 430px;
  height: 330px;
}
@media (max-width: 770px) and (min-width: 300px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}
