.card__like-button {
  grid-column: 2;
  margin: 0 auto;
  width: 21px;
  height: 19px;
  background-image: url(../../../images/like-button.svg);
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: opacity 0.75s ease;
}

@media (hover: hover) {
  .card__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}
