.form__submit_inactive {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  opacity: 0.2;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form__submit_inactive:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
  opacity: 0.2;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
